h1, p {
    text-align: center;
}

li:hover {
    background: rgb(255, 104, 104);
}

/* :active serve pra ativar algum elemento quando ele é clicado*/

li:active {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 700;
}

li {
    list-style: none;
}